<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.davidleess.dg-mail-carrier</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/davidleess/dg-cockpit/mail_carrier.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>30</integer>
    <key>StandardErrorPath</key>
    <string>/tmp/dg-mail-carrier.log</string>
</dict>
</plist>
