<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.davidleess.dg-mail-carrier</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/davidleess/dynasty-genius-product/.venv/bin/python3.14</string>
        <string>/Users/davidleess/dynasty-genius-product/scripts/dg_mail_carrier.py</string>
    </array>
    <key>StartInterval</key>
    <integer>30</integer>
    <key>StandardOutPath</key>
    <string>/Users/davidleess/dg-cockpit/carrier.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/davidleess/dg-cockpit/carrier.log</string>
</dict>
</plist>
